if SHIELD_Untitled_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Untitled"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_Untitled_LEFT || SHIELD_Untitled_RIGHT

config ZMK_SPLIT
    default y

endif
